
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ADD NEW BOOKS</title>
</head>
<body>
<div th:fragment="content_right">
    <div class="hero_area">
        <section class="contact_section layout_padding">
            <div class="container">
                <div class="heading_container ">
                    <h2 class="">

                                        <span>
                                                       ADD NEW PRODUCT
                                    </span>

                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-white" id="name" placeholder="product Name" th:field="*{name}">
                                        <label for="name" style="color: #e6e154">name</label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <!--                                    <input type="text" class="form-control bg-white" id="image" placeholder="image" th:field="*{image}">-->
                                        <input type="file" class="form-control bg-white" name="imageProduct" id="image" accept="image/jpeg, image/png" placeholder="image">
                                        <label for="image" style="color: #e6e154">image</label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control bg-white" id="price" placeholder="price" th:field="*{price}">
                                        <label for="price" style="color: #e6e154">price</label>
                                        <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select bg-white" id="cate" th:field="*{category.id}">
                                            <option value=""> Select Category: </option>
                                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                        </select>

                                        <label for="cate">Category</label>
                                        <!--                                    <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>-->

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <button class="btn btn-outline-light w-100 py-3" type="submit">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>


