<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/static/css/templatemo_style.css}" />
</head>
<body>
<div th:fragment="content_right">
    <div class="hero_area">
        <section class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <form th:action="@{/login}" method="post">
                        <fieldset>
                            <legend>Please Login</legend>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out.
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">User Name:</label>
                                <input type="text" required class="form-control" id="username" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" required class="form-control" id="password" name="password">
                            </div>
                            <div class="mb-3">
                                <input type="checkbox" id="remember-me" name="remember-me">
                                <label for="remember-me">Remember Me</label>
                            </div>
                            <div class="d-grid gap-2 form-action">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <a class="text-primary text-center" href="/register">Don't have an account? Sign Up</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        </section>
    </div>

</div>
</body>
</html>
